fastapi~=0.95.1
pydantic[dotenv]~=1.10.7
uvicorn~=0.22.0
SQLAlchemy~=2.0.12
aiosqlite~=0.19.0
asyncpg~=0.27.0
httpx~=0.24.0
pandas~=2.0.1
matplotlib~=3.7.1
plotly~=5.14.1
xhtml2pdf~=0.2.11
kaleido~=0.2.1
